<div class="card">
  <div class="card-head">
    <app-skeleton-loader *ngIf="!loaded" Cwidth="100" Cheight="100" [circle]="true"></app-skeleton-loader>
    <img *ngIf="loaded"
      src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=515&q=80"
      alt="person">
    <div class="info">
      <app-skeleton-loader *ngIf="!loaded" Cwidth="100"></app-skeleton-loader>
      <div *ngIf="loaded" class="name">Joey King</div>
      <app-skeleton-loader *ngIf="!loaded" Cwidth="150"></app-skeleton-loader>
      <div *ngIf="loaded" class="desc">Frontend Developer</div>
    </div>
  </div>
  <div class="card-body">
    <app-skeleton-loader *ngIf="!loaded" Cwidth="100"></app-skeleton-loader>
    <strong *ngIf="loaded">About</strong>
    <app-skeleton-loader *ngIf="!loaded" Cwidth="270" Cheight="70"></app-skeleton-loader>
    <div *ngIf="loaded" class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In ullam cum mollitia commodi error voluptate ipsam
      tempora unde voluptatum. Accusantium unde asperiores numquam amet debitis voluptate illum corporis! Perferendis,
      debitis.
    </div>
  </div>
</div>