:host {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 4px solid #fff;
}

.card-head,.info {
    display: flex;
}

.info {
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.card-body {
    /* display: grid;
    place-items: center; */
    margin-top: 20px;
}
.about {
    margin-top: 10px;
}